<!-- <div class="container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>

    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
</div> -->


<!-- <a-scene embedded artoolkit='sourceType: webcam;'>
    <a-sphere src="https://raw.githubusercontent.com/aframevr/sample-assets/master/assets/images/space/earth_atmos_4096.jpg" radius="0.5" position="0 0.5 0" segments-height="53">
        <a-animation attribute="scale" dur="1000" from="1 1 1" to="2 2 2" direction='alternate-reverse' easing="ease-in-out-circ" repeat="indefinite"></a-animation>
    </a-sphere>
    <a-marker-camera preset='hire'></a-marker-camera>
</a-scene> -->
<!-- </body> -->

<!-- <a-scene embedded arjs>
    <a-marker preset="hiro">
        <a-box position='0 0.5 0' material='color: black;'></a-box>
    </a-marker>
    <a-entity camera></a-entity>
</a-scene> -->

<!-- 
<div class="arjs-loader">
    <div>Loading, please wait...</div>
</div> -->

<!-- <a-scene vr-mode-ui="enabled: false;" renderer="logarithmicDepthBuffer: true;" embedded arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;">
    <a-nft type="nft" url="../assets/images/ihop" smooth="true" smoothCount="10" smoothTolerance=".01" smoothThreshold="5">
        <a-entity gltf-model="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf" scale="5 5 5" position="50 150 0">
        </a-entity>
    </a-nft>
    <a-entity camera></a-entity>
</a-scene> -->





<!-- 

<div style='margin : 0px; overflow: hidden;'>

    <div class="arjs-loader">
        <div>Loading, please wait...</div>
    </div>

    <a-scene vr-mode-ui="enabled: false;" renderer='antialias: true; alpha: true; precision: mediump;' embedded arjs='trackingMethod: best; sourceType: webcam; debugUIEnabled: false;'>


        <a-assets>
            <a-asset-item id="tree" src="./assets/gltf/scene.gltf"></a-asset-item>
        </a-assets>



        <a-nft type="nft" url="../assets/images/ihop" smooth="true" smoothCount="10" smoothTolerance=".01" smoothThreshold="5">
        </a-nft>
        <a-entity camera gltf-model="##tree"></a-entity>
        <a-entity camera></a-entity>
    </a-scene>
</div> -->


<!-- <div style="margin : 0px; overflow: hidden;">
    <div class="arjs-loader">
        <div>Loading, please wait...</div>
    </div>
    <a-scene vr-mode-ui="enabled: false;" renderer="logarithmicDepthBuffer: true;" embedded arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: true;">
        <a-nft type="nft" url="../assets/images/ihop2" smooth="true" smoothCount="10" smoothTolerance=".01" smoothThreshold="5">
            <a-entity gltf-model="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf" scale="5 5 5" position="360 360 0">
            </a-entity>
        </a-nft>
        <a-entity camera></a-entity>
    </a-scene>
</div> -->


<!-- <a-scene embedded arjs='sourceType: webcam;'>

    <a-marker type='pattern' url='/assets/images/ihop.patt'>
        <a-box position='0 0.5 0' material='color: red;'></a-box>
    </a-marker>

    <a-marker preset='hiro'>
        <a-box position='0 0.5 0' material='color: green;'></a-box>
    </a-marker>

    <a-marker type='barcode' value='5'>
        <a-box position='0 0.5 0' material='color: blue;'></a-box>
    </a-marker>

    <a-entity camera></a-entity>
</a-scene> -->
<router-outlet></router-outlet>