<!-- <mat-card> -->
<div class="noFoundText" *ngIf="contactuslistFlag">
    No Data Found
    <!-- <mat-card> -->
    <p>{{myTable | json}}</p>
    <lib-listing *ngIf="myTable!=null && myTable.length>0" [datasource]="myTable" [skip]="tabledata_header_skip" [modify_header_array]="modify_header_array" [apiurl]="_apiService.baseUrl" [deleteendpoint]="deleteendpoint" [updateendpoint]="updateendpoint"
        [jwttoken]="_apiService.jwtToken" [date_search_source]="date_search_source" [date_search_endpoint]="date_search_endpoint" [sourcedata]="tablename" [statusarr]="statusarray" [detail_datatype]="tabledata_detail_datatype" [editroute]="editroute" [detail_skip_array]="tabledata_detail_skip"
        [url]="custom_link" [search_settings]="search_settings" [click_to_add_ananother_page]="click_to_add_ananother_page" [searchendpoint]="searchendpoint" [sortdata]="sortdata" [datacollection]="datacollection" [date_search_source_count]="date_search_source_count"
        [libdata]="libdata" [limitcond]="limitcond">
    </lib-listing>
    <div class="noFoundText" *ngIf="contactuslistFlag">
        No Data Found
    </div>
    <!-- </mat-card> -->
</div>
<!-- </mat-card> -->