<!-- <p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>

        </button>
        <span>My App</span> -->



<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile [routerLink]="['/track/ihop']" routerLinkActive="router-link-active" class="btnclass">Ihop</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/track/maggianos']" routerLinkActive="router-link-active" class="btnclass">Maggianos</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/track/disney']" routerLinkActive="router-link-active" class="btnclass">Disney</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/track/staples']" routerLinkActive="router-link-active" class="btnclass">Staples</mat-grid-tile>
    <mat-grid-tile [routerLink]="['/track/benfishGrill']" routerLinkActive="router-link-active" class="btnclass">BenfishGrill</mat-grid-tile>
</mat-grid-list>



<!-- <button mat-raised-button color="accent" [routerLink]="['/track']" routerLinkActive="router-link-active">Track</button>
<button mat-raised-button color="accent" [routerLink]="['/location']" routerLinkActive="router-link-active">Location</button> -->
<!-- <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>


<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button> -->